:root {
  direction: rtl;
}
.md-content, .md-nav, .md-header, .md-footer {
  direction: rtl;
}
.md-typeset {
  font-family: Vazirmatn, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
